#container 
{
    font-family: Calibri, Candara, Arial, sans-serif;
    font-size: 12px;
    margin: auto; 
    max-width: 1000px;
}

#date
{
    position: absolute;
    top: 220px;
 	font-size: 15px;
 	font-weight: bold;
 	color: #585858;
    left: 30px;
}

#legend
{
    position: absolute;
    top: 250px;
    left: 30px;
    font-size: 12px;
    border: 1px solid gray;
    background-color: white;
}

#legend_label
{
    text-align: center;
    padding-bottom: 5px;
}

.graticule 
{
    fill: none;
    stroke: #79A09E;
    stroke-width: 0.5;
}

.graticule.outline
{
    stroke: black;
    stroke-width: 0.5;
}

path 
{
    fill: #E0E4CC;
    stroke: #ACAF9F;
    stroke-width: 1;
}

#controls
{
    position: absolute;
    top: 420px;
    font-size: 12px;
    width: 980px;
    margin: 0 auto; 
}

#values_control
{
    float:left;
}

#pauseButton
{
    font-family: Calibri, Candara, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
}

.track,
.track-inset
{
    stroke-linecap: round;
}

.track 
{
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset 
{
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.slider_label 
{
    font-size: 10px;
}

#footer
{
    position: absolute;
    top: 450px;
    margin: 0 auto; 
    max-width: 1000px;
}